# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.spec

# Virtual env
.venv/
env/
venv/

# Secret & env vars
.env
.env.*
!.env.example

# Build / packaging
dist/
build/
*.egg-info/

# Logs
logs/
*.log

# IDE / OS
.vscode/
.DS_Store
Thumbs.db

# Text files
readme-first.txt
list-fitur.txt

# Database
Dump20251008.sql

# Image
Struk.webp